#page1,
#page2,
#page3 {
  font: 62.5% 'Walter Turncoat', cursive;
  display: block;
  overflow: hidden;
}

.section-title {
  margin-bottom: 1em;
  font-size: 4vmax;
}

figure {
  display: inline-block;
  position: relative;
  max-width: 35vmax;
  border: 15px solid #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.figure-img {
  width: 100%;
}

.caption {
  text-align: center;
  font-size: 2.5vmax;
  background-color: #fff;
  color: #555;
}

.img-responsive {
  display: inline-block;
}

.bg-1 {
  background-color: #bfc6d1;
  color: #fff;
}

.bg-2 {
  background-color: #474e5d;
  color: #fff;
}

.bg-3 {
  background-color: #fff;
  color: #555;
}

.bg-4 {
  background-color: #2f2f2f;
  color: #fff;
}

.container-fluid {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.navbar {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 0.75em;
  letter-spacing: 0.4em;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

body {
  padding-top: 40px;
}

.home-text {
  display: inline;
  position: relative;
  bottom: 2.5em;
  font-size: 3vmax;
  margin: 0 0.2em;
}

.about-me {
  position: relative;
  bottom: 1em;
  font-size: 3vmax;
  margin: 0 5vw;
  padding-top: 8vw;
}

.col-sm-3 p {
  white-space: normal;
  font-size: 2.5vmax;
}
